@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: Mulish;
}

html {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% 1rem
  font-family: 'Nunito Sans', sans-serif;

  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 45%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 40%;
  }
}
